* {
    margin: 0;
    padding: 0;
}

body{
    background-color: #5792b2;
}
.container{
    width: 70%;
    margin: 0 auto;
}
header .container{
    width: 100%;
    background-color: #212121;
    height: 120px;
    
}
header img {
    width: 100px;
    margin-top: 10px;
    margin-right: 50px;
}
header a{
    text-decoration: none;
    color: white;
}
.topo{
    display: flex;
    justify-content: space-between;
}
.fa-bars{
font-size: 50px;
padding: 40px;
color:  #5792b2;
}
.login{
    width: 200px;
    height:300px;
    border-radius: 18%;
    background-color: white;
    padding: 25px;
    margin-bottom: 5em;
    margin: 55px;
    box-shadow: 0px 6px 10px #000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #707070;

}
h1{
    display: flex;
    justify-content: center;
}

.campo {
    display: flex;
   justify-content: center;
     padding: 9px;
   margin-bottom: 5px;
  color: #707070;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
}

.btn{
  margin-left: 43px;
  margin-top: 70px;
  font-size: 1.3em;
   background-color: #5792b2;
   color: whitesmoke;
   border-radius: 17%;
   box-shadow:0px 5px 10px #000;
   height:50px;
   width:120px;
}
input{
    border-top: none;
    border-left: none;
    border-right: none;
}
footer {
    background-color: #212121;
    box-shadow: 0px -6px 10px var(--preto);
    height: 150px;
    color: #fff;
}
footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer .container nav ul {
    padding-top: 20px;
}
footer nav ul {
    list-style-type: none;
}
footer nav li {
    margin-bottom: 0.4em;
}
footer nav li a {
    padding-top: 10px;
    text-decoration: none;
    color: var(--branco);
}
footer img {
    width: 80px;
}
footer p {
    font-size: 0.8em;
    text-align: center;
}
.sociais {
    font-size: 2em;
    color: var(--background);
}
@media(min-width:361px){
 .login{
    margin: 150px 240px 30px;
    padding: 50px;
 }
footer{
  padding-bottom:44px;
   margin-top:210px;
}
.campo{
    font-size: 2em;
    padding:20px;
}
.btn{
    margin-top: 28px;
}
}
@media(min-width:769px){
    header .container{
        width:100%;
    }
    .login{
        margin: 150px 400px 30px;
        padding: 50px;
        width: 500px;
        height: 500px;
        margin-top:200px;
     }
    footer{
      padding-bottom:120px;
       margin-top:290px;
       font-size:30px;
    }
    footer img{
        width: 190px;
    }
    .campo{
        font-size: 2.5em;
        padding:30px;
        display: flex;
        justify-content: flex-start;
       border: 5px black;
        
        
    }
    .btn{
        margin-top: 100px;
        margin-left: 130px;
        font-size: 2.5em;
        width: 250px;
        height:99px;
    }
    input{
        font-size: 0.78em;
      
    }
    header .container{
        height: 200px;   
        display: flex;       
}
header img{
    margin-left:230px;
    margin-top: 50px;
}
header #menu{
    display: block;
}
header .fa-bars{
    display: none;
}
}
