:root {
    --background: #5792B2;
    --preto: #212121;
    --texto: #707070;
    --blue: #00a8dc;
}
* {
    margin: 0;
    padding: 0;
}
body {
    background-color: var(--background);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #707070;
}
.container {
    margin: auto;
    width: 80%;
}
.btn {
    padding: 0.5em 0.7em;
}
header {
    height: 126px;
    background-color: #212121;
}
header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header img {
    width: 115px;
}
header .fa-bars {
    font-size: 3em;
    color: var(--background);
    text-decoration: none;
}
header a {
    color: var(--texto);
    text-decoration: none;
    font-size: 1.4em;
    text-decoration: none;
}
header ul,li{
    padding: 0 0.8em;
    list-style-type: none;
    font-size: 30px;
}
#menu {
    background-color: var(--preto);
    position: absolute;
    top: 126px;
    left: -50px;
    padding: 0.5em 4em;
    display: none;
}
#menu li, #menu a {
    list-style: none;
}
.form_cadastro {
    text-align: center;
    align-items: center;
    width: 70%;
    max-width: 300px;
    margin: 8em auto;
    box-shadow: 7px 7px 5px var(--preto) ;
    padding: 1.5em;
    border-radius: 50px;
    background-color: #fff;
}
.form_cadastro div h1 {
    margin-bottom: 1.5em;
}
.campo {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5em;
    border: none;
}
.campo input:focus {
    background-color: var(--background);
}
input[type="text"],
input[type="tel"],
input[type="email"],
select{
    width: 50%;
    background-color: #fff;
    border: none;
    outline: none;
    border-bottom: solid 1.5px var(--texto);
    color: var(--texto);
}
.campo fieldset {
    border: none;
}
fieldset input {
    box-shadow: 1px 1px 5px var(--preto);
}
.termos {
    margin-top: 1.5em;
    align-items: center;
    margin-right: 1.2em;
}
.termos input {
    box-shadow: 1px 1px 5px var(--preto);
}
.campo .btn {
    color: #fff;
    text-transform: uppercase;
    padding: 1.5em 8em;
    background-color: var(--background);
    border-radius: 40px;
    margin-top: 2em;
    margin-left: 10px;
    cursor: pointer;
    border: 2px solid #212121;
}
footer {
    background-color: var(--preto);
    box-shadow: 0px -6px 10px var(--preto);
    min-height: 115px;
    color: #fff;
}
footer .container {
    justify-content: space-between;
    display: flex;
    align-items: center;
}
footer nav ul {
    list-style-type: none;
}
footer nav li {
    margin-bottom: -0.5em;
}
footer nav li a {
    font-size: 0.5em;
    font-weight: bolder;
    text-decoration: none;
    color: #fff;
}
footer nav a:hover {
    border-bottom:solid 1px var(--purple) ;
}
footer p {
    text-align: center;
    font-size: 0.5em;
    font-weight: bolder;
}
.container div img {
    margin-left: 20px;
    justify-content: center;
    width: 50%;
}
.sociais {
    width: 100%;
    display: flex;
    color: var(--background);
    align-items: center;
    font-size: 1.5em;
}



@media(min-width:426px){

}

@media(min-width:801px){
    
}

@media(min-width:1201px){
    header .fa-bars {
        display: none;
    }
    
}

